/*-1번째----기본HTML,CSS,라이브러리-----*/
html {
  /* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body,
ul,
li,
h1 {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

label[for] {
  cursor: pointer;
  user-select: none;
}

/* 라이브러리 */
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.absolute-left {
  position: absolute;
  left: 0;
}

.absolute-right {
  position: absolute;
  right: 0;
}

.absolute-bottom {
  position: absolute;
  bottom: 0;
}

.absolute-top {
  position: absolute;
  top: 0;
}

.absolute-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.absolute-middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.absolute-middle.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.relative {
  position: relative;
}

.cell {
  float: left;
  box-sizing: border-box;
}

.cell-right {
  float: right;
  box-sizing: border-box;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.clear-both {
  clear: both;
}

.img-box > img {
  width: 100%;
  display: block;
}

.con {
  margin-left: auto;
  margin-right: auto;
}

.margin-0-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.line-height-0 {
  line-height: 0;
}

.line-height-0 > * {
  line-height: normal;
}

.width-30px {
  width: 30px;
}

.width-35px {
  width: 35px;
}

.width-40px {
  width: 35px;
}

.width-45px {
  width: 35px;
}

.width-50px {
  width: 50px;
}

.width-80px {
  width: 80px;
}

.width-100px {
  width: 100px;
}

.width-200px {
  width: 200px;
}

.width-100p {
  width: 100%;
}

.width-60p {
  width: 60%;
}

.width-55p {
  width: 55%;
}

.width-50p {
  width: 50%;
}

.width-45p {
  width: 45%;
}

.width-40p {
  width: 40%;
}

.width-30p {
  width: 30%;
}

.width-35p {
  width: 35%;
}

.width-100p-except-30px {
  width: calc(100% - 30px);
}

.width-100p-except-35px {
  width: calc(100% - 35px);
}

.width-100p-except-40px {
  width: calc(100% - 40px);
}

.width-100p-except-50px {
  width: calc(100% - 50px);
}

.width-100p-except-80px {
  width: calc(100% - 80px);
}

.width-100p-except-100px {
  width: calc(100% - 100px);
}

.height-100p {
  height: 100%;
}

.height-50p {
  height: 50%;
}

.height-250px {
  height: 250px;
}
.border-box {
  box-sizing: border-box;
}

.font-size-dot-8rem {
  font-size: 0.8rem;
}

.table-row {
  display: table;
}

.table-row.row::after {
  display: inline;
  clear: non;
}

.table-row > .cell {
  float: none;
  display: table-cell;
}

.border-red {
  border: 10px solid red;
}

.border-black {
  border: 2px solid black;
}

.border-green {
  border: 10px solid green;
}

.border-blue {
  border: 10px solid blue;
}

.border-gold {
  border: 10px solid gold;
}

.border-pink {
  border: 10px solid pink;
}

/* 라이브러리 - flex */
* > .flex {
  display: flex;
}

* > .flex-grow-1 {
  flex-grow: 1;
}

* > .flex-jc-c {
  justify-content: center;
}

* > .flex-jc-s {
  justify-content: flex-start;
}

* > .flex-jc-e {
  justify-content: flex-end;
}

* > .flex-jc-sb {
  justify-content: space-between;
}

* > .flex-ai-c {
  align-items: center;
}

* > .flex-ai-s {
  align-items: flex-start;
}

* > .flex-ai-e {
  align-items: flex-end;
}

* > .flex-as-s {
  align-self: stretch;
}

* > .flex-as-c {
  align-self: center;
}

* > .flex-as-s {
  align-self: flex-start;
}

* > .flex-as-e {
  align-self: flex-end;
}

* > .flex-column-nowrap {
  flex-flow: column nowrap;
}

* > .flex-column-wrap {
  flex-flow: column wrap;
}

* > .flex-row-wrap {
  flex-flow: row wrap;
}

.flex-ch-basis-0 > * {
  flex-basis: 0;
}

* > .flex-1-0-0 {
  flex: 1 0 0;
}

* > .position-f {
  position: fixed;
  top: 0px;
}

/* 커스텀 */

/*-2번째----상단 메뉴바-----*/

/* 고정형 .con 시작 */
.con-min-width {
  /*최소 사이즈 */
  min-width: 100%;
}

.con {
  /*너비 최대 사이즈(con-min-width와 함께 사용)*/
  width: 1080px;
}
/* 고정형 .con 끝 */

.top-bar {
  /*높이*/
  height: 80px;
}

/*-3번째----상단 메뉴박스, 아이템-----*/

/* .top-bar .logo {좌측 상단 아이콘 사이즈}*/

.top-bar .menu-box-1 {
  /*메뉴박스 우측 벌리기*/
  margin-right: 20px;
}

.top-bar .menu-box-1 > ul > li {
  /*1차 메뉴 아이템 사이 벌리기*/
  margin: 0 10px;
}

.top-bar .menu-box-1 ul > li > a {
  /*1차 메뉴 아이템 텍스트 가운데 정렬*/
  text-align: center;
  font-weight: bold;
}

.top-bar .menu-box-1 ul > li:hover > a {
  /*메뉴 선택시 하단라인*/
  text-decoration: underline;
}

.top-bar .menu-box-1 > ul > li > a {
  /*1차 메뉴 아이템 텍스트, 간격, 박스 사이즈, 글자 상하단 투명선*/
  padding: 0 15px;
  box-sizing: border-box;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.top-bar .menu-box-1 > ul > li:hover > a {
  /*1차 메뉴 아이템 텍스트 선택시 하단 선색*/
  border-bottom-color: black;
}

/*-4번째----상단 별도 텍스트-----*/

.top-bar .btn-submit-document > span {
  /*우측 별도 텍스트, 배경색, 간격, 박스 둥글기*/
  background-color: #fede22;
  padding: 10px 20px;
  border-radius: 22px;
}

/*-5번째----2차 메뉴 아이템-----*/

.top-bar .menu-box-1 > ul > li > div {
  /*2차 메뉴 아이템 박스, 가리기, 상단라인, 너비100%, 패딩, 배경색*/
  border-top: 1px solid #afafaf;
  display: none;
  position: absolute;
  background-color: white;
  left: 0;
  width: 100%;
  padding: 5px 0;
  z-index: 2; /*메인 이미지 위로 메뉴 보이기 위함*/
}

.top-bar .menu-box-1 > ul > li:hover > div {
  /*2차 메뉴 아이템 박스, 보이기*/
  display: block;
}

.top-bar .menu-box-1 > ul > li > div > div > ul > li {
  /*2차 메뉴 아이템, flex*/
  flex: 1 0 0;
}

.top-bar .menu-box-1 > ul > li > div > div ul > li > a {
  /*2차 메뉴 아이템 이하 모든 텍스트, 간격*/
  padding: 10px 0;
}

.top-bar .menu-box-1 > ul > li > div > div > ul > li > a {
  /*2차 메뉴 아이템 텍스트, 글자 두께, 사이즈*/
  font-weight: bold;
  font-size: 1.2rem;
}

/*-6번째----3차 메뉴 아이템-----*/

.top-bar .menu-box-1 > ul > li > div > div > ul > li > ul > li > a {
  /*3차 메뉴 아이템 텍스트, 글자색*/
  color: #444;
}

/*========== 페이지 공통 ==========*/

.page-1,
.page-2,
.page-3,
.page-4 {
  /*메인 이미지 좌우측 배경색, 높이*/
  background-color: transparent;
  height: 720px;
  background-size: contain;
}

.page-1 > .con > .img-box,
.page-2 > .con > .img-box,
.page-3 > .con > .img-box,
.page-4 > .con > .img-box {
  /*메인 이미지 박스, 마진*/
  margin: 0 -60px;
  position: relative; /*이미지박스에 배경 전체 적용됨(투명,불투명 적용)*/
  overflow: hidden; /*이미지 크게 되면서 넘치는 부분 자르기*/
}

.page-1 > .con > .img-box > img {
  width: 1200px;
  height: 700px;
  object-fit: scale-down;
}

/*========== 1페이지 ==========*/

.slogan {
  /*메인 이미지 내부 글 총괄*/
  color: black;
  width: 600px;
  display: block;
  position: absolute;
  top: 38%;
  left: 25%;
}

h1 {
  /*메인 글*/
  font-size: 3.5rem;
  margin-left: 10px;
  width: 600px;
}

.slogan-a {
  /*메인 글 아래*/
  font-size: 1.5rem;
  margin-left: 20px;
}

@keyframes progressbar {
  /*progressbar 사용하기 위해 추가*/
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
    background-color: #fac120;
  }
}

/*라이브러리, float 사용시 항상 추가 태그*/
.row::after {
  content: "";
  display: block;
  clear: both;
}

.slide-active::after {
  /*메인 이미지 내부 움직이는 밑줄*/
  position: absolute;
  content: "";
  bottom: 65px;
  animation: progressbar 4s linear infinite; /*infinite 무한반복*/
  animation-delay: 0.3s; /*엘리먼트 로드 후 시작 시간*/
  z-index: 2;
}

.slide-active::after {
  /*메인 이미지 내부 움직이는 밑줄*/
  position: absolute;
  content: "";
  bottom: 65px;
  height: 7px;
  z-index: 1;
}

/*========== 2페이지 ==========*/

/*소개글 이미지*/
.page-2 > .con > .img-box > img {
  width: 300px;
  height: 200px;
  margin-left: 5%;
}

/*intro_1 소개이미지 우측 정렬(진행중)*/
.page-2 > .con > .intro_1 > h2 {
}

/*커스텀, 넘치는거 처음부터 없애기*/
html,
body {
  overflow-x: hidden; /*음수마진으로 인해 넘치는 부분으로 스크롤바가 생기게 되는 버그를 없애주도록 처리*/
}

/*하나의 박스로 구성해야 유지보수,관리 용이*/
.cell {
  float: left; /*강제로 좌로 뜨게 한다.*/
  box-sizing: border-box; /*너비와 높이에 패딩과 테두리가 포함 적용한대로 박스안에 들어감*/
}

/*하단 이미지 총괄 박스 자식 상품 박스에게 좌우측 튀어나온 부분 음수마진으로 라인 맞추기 */
.prod-list-box-1 > ul {
  margin-left: -15px;
  margin-right: -15px;
}

/*적용 사례 리스트(이미지,이름,스킬) 박스*/
.prod-list-box-1 > ul > li {
  margin-top: 20px;
  width: calc(100% / 4); /*한 라인에 나올 갯수만큼 나누기*/
  padding: 0 10px;
  cursor: pointer;
}
