/*-1번째----기본HTML,CSS,라이브러리-----*/
html {
  /* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body, ul, li, h1 {
  margin:0;
  padding:0;
  list-style:none;
}

a {
  color:inherit;
  text-decoration:none;
}

label[for] {
  cursor:pointer;
  user-select:none;
}

/* 라이브러리 */
.block {
  display:block;
}

.inline-block {
  display:inline-block;
}

.absolute-left {
  position:absolute;
  left:0;
}

.absolute-right {
  position:absolute;
  right:0;
}

.absolute-bottom {
  position:absolute;
  bottom:0;
}

.absolute-top {
  position:absolute;
  top:0;
}

.absolute-center {
  position:absolute;
  left:50%;
  transform:translateX(-50%);
}

.absolute-middle {
  position:absolute;
  top:50%;
  transform:translateY(-50%);
}

.absolute-middle.absolute-center {
  position:absolute;
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
}

.relative {
  position:relative;
}

.cell {
  float:left;
  box-sizing:border-box;
}

.cell-right {
  float:right;
  box-sizing:border-box;
}

.row::after {
  content:"";
  display:block;
  clear:both;
}

.clear-both {
  clear:both;
}

.img-box > img {
  width:100%;
  display:block;
}

.con {
  margin-left:auto;
  margin-right:auto;
}

.margin-0-auto {
  margin-left:auto;
  margin-right:auto;
}

.text-align-center {
  text-align:center;
}

.text-align-right {
  text-align:right;
}

.line-height-0 {
  line-height:0;
}

.line-height-0 > * {
  line-height:normal;
}

.width-30px {
  width:30px;
}

.width-35px {
  width:35px;
}

.width-40px {
  width:35px;
}

.width-45px {
  width:35px;
}

.width-50px {
  width:50px;
}

.width-80px {
  width:80px;
}

.width-100px {
  width:100px;
}

.width-100p {
  width:100%;
}

.width-60p {
  width:60%;
}

.width-55p {
  width:55%;
}

.width-50p {
  width:50%;
}

.width-45p {
  width:45%;
}

.width-40p {
  width:40%;
}

.width-30p {
  width:30%;
}

.width-35p {
  width:35%;
}

.width-100p-except-30px {
  width:calc(100% - 30px);
}

.width-100p-except-35px {
  width:calc(100% - 35px);
}

.width-100p-except-40px {
  width:calc(100% - 40px);
}

.width-100p-except-50px {
  width:calc(100% - 50px);
}

.width-100p-except-80px {
  width:calc(100% - 80px);
}

.width-100p-except-100px {
  width:calc(100% - 100px);
}

.height-100p {
  height:100%;
}

.height-50p {
  height:50%;
}

.border-box {
  box-sizing:border-box;
}

.font-size-dot-8rem {
  font-size:.8rem;
}

.table-row {
  display:table;
}

.table-row.row::after {
  display:inline;
  clear:non;
}

.table-row > .cell {
  float:none;
  display:table-cell;
}

.border-red {
  border:10px solid red;
}

.border-green {
  border:10px solid green;
}

.border-blue {
  border:10px solid blue;
}

.border-gold {
  border:10px solid gold;
}

.border-pink {
  border:10px solid pink;
}

/* 라이브러리 - flex */
* > .flex {
  display:flex;
}

* > .flex-grow-1 {
  flex-grow:1;
}

* > .flex-jc-c {
  justify-content:center;
}

* > .flex-jc-s {
  justify-content:flex-start;
}

* > .flex-jc-e {
  justify-content:flex-end;
}

* > .flex-jc-sb {
  justify-content:space-between;
}

* > .flex-ai-c {
  align-items:center;
}

* > .flex-ai-s {
  align-items:flex-start;
}

* > .flex-ai-e {
  align-items:flex-end;
}

* > .flex-as-s {
  align-self:stretch;
}

* > .flex-as-c {
  align-self:center;
}

* > .flex-as-s {
  align-self:flex-start;
}

* > .flex-as-e {
  align-self:flex-end;
}

* > .flex-column-nowrap {
  flex-flow:column nowrap;
}

* > .flex-column-wrap {
  flex-flow:column wrap;
}

* > .flex-row-wrap {
  flex-flow:row wrap;
}

.flex-ch-basis-0 > * {
  flex-basis:0;
}

* > .flex-1-0-0 {
  flex:1 0 0;
}

/* 커스텀 */

/*-2번째----상단 메뉴바-----*/

/* 고정형 .con 시작 */
.con-min-width { /*최소 사이즈 */
  min-width:1080px;
}

.con { /*너비 최대 사이즈(con-min-width와 함께 사용)*/
  width:1080px;
}
/* 고정형 .con 끝 */

.top-bar { /*높이*/
  height:80px;
}

/*-3번째----상단 메뉴박스, 아이템-----*/

.top-bar .logo { /*좌측 상단 아이콘 사이즈*/
  font-size:3rem;
}

.top-bar .menu-box-1 { /*메뉴박스 우측 벌리기*/
  margin-right:20px;
}

.top-bar .menu-box-1 > ul > li { /*1차 메뉴 아이템 사이 벌리기*/
  margin:0 10px;
}

.top-bar .menu-box-1 ul > li > a { /*1차 메뉴 아이템 텍스트 가운데 정렬*/
  text-align:center;
}

.top-bar .menu-box-1 ul > li:hover > a { /*메뉴 선택시 하단라인*/
  text-decoration:underline;
}

.top-bar .menu-box-1 > ul > li > a { /*1차 메뉴 아이템 텍스트, 간격, 박스 사이즈, 글자 상하단 투명선*/
  padding:0 10px;
  box-sizing:border-box;
  border-top:2px solid transparent;
  border-bottom:2px solid transparent;
}

.top-bar .menu-box-1 > ul > li:hover > a { /*1차 메뉴 아이템 텍스트 선택시 하단 선색*/
  border-bottom-color: black;
}

/*-4번째----상단 별도 텍스트-----*/

.top-bar .btn-submit-document > span { /*우측 별도 텍스트, 배경색, 간격, 박스 둥글기*/
  background-color:#fEDE22;
  padding:10px 20px;
  border-radius:22px;
}

/*-5번째----2차 메뉴 아이템-----*/

.top-bar .menu-box-1 > ul > li > div { /*2차 메뉴 아이템 박스, 가리기, 상단라인, 너비100%, 패딩, 배경색*/
  border-top:1px solid #afafaf;
  display:none;
  position:absolute;
  background-color:white;
  left:0;
  width:100%;
  padding:30px 0;
}

.top-bar .menu-box-1 > ul > li:hover > div { /*2차 메뉴 아이템 박스, 보이기*/
  display:block;
}

.top-bar .menu-box-1 > ul > li > div > div > ul > li {  /*2차 메뉴 아이템, flex*/
  flex:1 0 0;
}

.top-bar .menu-box-1 > ul > li > div > div ul > li > a {  /*2차 메뉴 아이템 이하 모든 텍스트, 간격*/
  padding:10px 0;
}

.top-bar .menu-box-1 > ul > li > div > div > ul > li > a {  /*2차 메뉴 아이템 텍스트, 글자 두께, 사이즈*/
  font-weight:bold;
  font-size:1.2rem;
}

/*-6번째----3차 메뉴 아이템-----*/

.top-bar .menu-box-1 > ul > li > div > div > ul > li > ul > li > a {  /*3차 메뉴 아이템 텍스트, 글자색*/
  color:#444;
}

/*-7번째----메인 이미지-----*/

.page-1 {  /*메인 이미지 좌우측 배경색, 높이*/
  background-color:transparent;
  height:720px;
}

.page-1 > .con > .img-box {  /*메인 이미지 박스, 마진*/
  margin:0 -60px;
}